<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Contact Me</h2>
        <p class="text-center">
          If you have any question or suggestion, please do not hesitate to
          contact me via the contact form below
        </p>
        <div class="contact-form">
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    placeholder="Your Name"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    placeholder="Your Email"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    id="message"
                    class="form-control"
                    rows="4"
                    placeholder="Your Message"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
