<section id="portfolio">
  <div class="container text-center">
    <h2>Portfolio</h2>
    <p>Below you can see the cakes that I am proud of the most.</p>
    <div class="filters" id="filters">
      <div class="row">
        <div class="col-xs-12 mx-auto mb-5">
          <button class="btn active" onclick="filterSelection('all')">
            Show all
          </button>
          <button class="btn" onclick="filterSelection('wedding')">
            Wedding cakes
          </button>
          <button class="btn" onclick="filterSelection('christmas')">
            Christmas cakes
          </button>
          <button class="btn" onclick="filterSelection('birthday')">
            Birthday cakes
          </button>
          <button class="btn" onclick="filterSelection('anniversary')">
            Anniversary cakes
          </button>
        </div>
      </div>
    </div>
    <div class="filters row" id="filters">
      <div class="col-lg-3 col-md-4 col-sm-6 filter wedding">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/wedding_cake.jpg"
            alt="wedding cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter wedding">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/wedding_cake2.jpg"
            alt="wedding cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter wedding">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/wedding_cake3.jpg"
            alt="wedding cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter wedding">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/wedding_cake3.jpg"
            alt="wedding cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter birthday">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/birthday_cake.jpg"
            alt="birthday cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter birthday">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/birthday_cake2.jpg"
            alt="birthday cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter birthday">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/birthday_cake2.jpg"
            alt="birthday cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter birthday">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/birthday_cake2.jpg"
            alt="birthday cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter christmas">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/christmas_cake.jpeg"
            alt="christmas cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter christmas">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/christmas_cake2.jpeg"
            alt="christmas cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter christmas">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/christmas_cake2.jpeg"
            alt="christmas cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter christmas">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/christmas_cake2.jpeg"
            alt="christmas cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter anniversary">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/anniversary_cake.jpeg"
            alt="anniversary cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter anniversary">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/anniversary_cake2.jpeg"
            alt="anniversary cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter anniversary">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/anniversary_cake2.jpeg"
            alt="anniversary cake"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 filter anniversary">
        <div class="portfolio-box border-0 shadow">
          <img
            class="img-fluid"
            src="/public/img/anniversary_cake2.jpeg"
            alt="anniversary cake"
          />
        </div>
      </div>
    </div>
  </div>
</section>
